@font-face {
  font-family: 'JF-Dot-Shinonome-14-Regular';
  src: url('../fonts/JF-Dot-Shinonome-14-Regular.eot') format('embedded-opentype'),  url('../fonts/JF-Dot-Shinonome-14-Regular.woff') format('woff'), url('../fonts/JF-Dot-Shinonome-14-Regular.ttf')  format('truetype'), url('../fonts/JF-Dot-Shinonome-14-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

.font-pixel, .\!font-pixel, .font-pixel-regular, .\!font-pixel-regular {
  font-family: 'JF-Dot-Shinonome-14-Regular', monospace !important;
}
